.bug-text-input {
  padding: 12px 16px 12px 16px;
  background: #F8FBFC;
  border: 1px solid #D1DBDF;
  border-radius: 4px;
  outline: none;
  color: #1A1A1A;
  width: 100%;
  &::placeholder {
    color: #979797;
  }

  &.small {
    padding: 4px;
  }
  &.white {
    background-color: white;
  }
  &.medium {
    padding: 8px 16px 8px 16px;
  }
}
.bug-label {
  color: #1A1A1A;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}

.hubers-select-input {
  padding: 12px 16px 12px 16px;
  background: #F8FBFC;
  border: 1px solid #D1DBDF;
  border-radius: 4px;
  appearance: none; /* Remove default arrow */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"/></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center;
  cursor: pointer; /* Add cursor style for consistency */
  min-width: 180px;

  &.white {
    background-color: white;
  }
  &.medium {
    padding: 8px 16px 8px 16px;
  }
}

.hubers-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  span[role='alert'] {
    color : red;
  }
}


.hubers-advanced-filter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
  label {
    font-weight: bold;
    width: 80px;
  }
  &.multi {
    flex-direction: row;
  }
  .hubers-advanced-filter-group-options {
    display: flex;
    input {
      &:first-child {
        margin-right: 8px;
      }
    }
  }
}


.hubers_dashboard_card {
  border: 1px solid #F1F1F4;
  background-color: white;
  padding: 16px 16px 16px 24px;
  border-radius: 8px;
  position: relative;
  .hubers_dashboard_card_title {
    display: block;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
  }
  &::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    height: calc(100% - 16px);
    background-color: #ceecff;
    border-radius : 3px;
    width: 6px;
    z-index: 1;
  }
  &.success {
    &::after {
      background-color: #a6f4c5;
    }
  }
  &.info {
    &::after {
      background-color: #ceecff;
    }
  }
  &.danger {
    &::after {
      background-color: #fee4e2;
    }
  }
  &.paid {
    &::after {
      background-color: #303974;
    }
  }


}

.container {
  max-width: 1250px;
}


.hubers-field-count {
  position: relative;
  margin-bottom: 8px;
  .hubers-field-counter {
    position: absolute;
    bottom: -16px;
    right: 0;
    color : rgba(33, 37, 41, 0.75);
    font-size: 14px;
    line-height: 14px;
  }
}