body {
  margin: 0 !important;
}

.hubers-filter-extended-popup {
  width: 800px;

  .input-small {
    width: 70px;
  }
}

.hubers-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: calc(100% - 32px);
  background: white;
  padding: 16px;
  margin-top: 16px;
  margin-left: 16px;
  border-radius: 12px;
  border: 1px solid rgb(207, 216, 220);
  box-shadow:  0 1px 2px  rgba(0,0,0,.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .hubers-navbar-logo {
    a {
      text-decoration: none !important;
      font-weight: bold;
      color: black;
      font-size: 30px;
      line-height: 30px;
    }
  }
  .hubers-navbar-links {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {

        padding: 4px;
        margin-bottom: 4px;
        a {
          text-decoration: none;
          padding: 12px;
          font-size: 18px;
          line-height: 24px;
          color : black;
          font-weight: 500;
        }
      }
    }

  }
  .hubers-navbar-logout {
    display: flex;
    border-top: 2px solid rgb(207, 216, 220);
    padding: 8px;
  }
}

.hubers-layout {
  background: rgba(236, 239, 241, 0.5);
  min-height: 100vh;
  padding-left: 332px;
  padding-right: 16px;
  .hubers-page-header {
    background: white;
    box-shadow:  0 1px 2px  rgba(0,0,0,.15);
    margin-bottom: 16px;
    border-radius: 12px;
    padding: 16px;
    border: 1px solid rgb(207, 216, 220);
    display: flex;
    justify-content: space-between;
    align-items: center;
    h5 {
      text-transform: uppercase;
    }
  }
  .hubers_panel {
    border: 1px solid rgb(207, 216, 220);
    border-radius: 12px;
  }
}
.hubers-body-content {
  padding-top: 16px;

}


@media (max-width: 767px) {
  .hubers-navbar {
    width: calc(100% - 8px);
    margin: 4px;
    padding: 8px;
    z-index: 1000000;
    height: auto;


    .hubers-navbar-links {
      max-height: 0px;
      overflow: hidden;
    }
    .hubers-navbar-logout {
      display: none;
    }
  }
}