body {
  margin: 0 !important;
  background: rgba(236, 239, 241, 0.5);
}




.vms-login-view {
  height:100vh;
  display: flex;
  align-items: center;
  .vms_panel {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .login-logo {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    color : #1a1a1a;
    margin-bottom: 16px;
    font-weight: 600;
    img {
      margin-bottom: 8px;
    }
  }
  .login-btn {
    display: block;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
}