.hubers-search-no-items-found {
  margin-top: 16px;
  margin-bottom: 16px;
  background: #ceecff;
  padding: 54px;
  h6 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: none;
  }
}